@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*, *:before, *:after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

  :root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --light-grey: #D9D9D9;
    --black: #000;
    --white: #FFF;
}

body {
    font-family:'Raleway', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none; 
}

a:visited {
    color: var(--black);
}

.layout {
    max-width: 1440px;
    margin: auto;
    padding: 0 15px;
}

/* HEADER */
header {
    display:flex;
    justify-content: space-between;
    align-items: center; 
    height: 118px;
    margin: 0 50px;
}

h1, h2 {
    font-weight: 800;
}

.header #logo img {
    width: 100px;
    margin: 10px 0 10px -8px;
}

/* MAIN */
.main main {
    margin: 0 50px;
}

.color_fw_opa {
    font-weight: 600;
    color: #242222;
    opacity: 0.9;
}

.menu-item {
    padding: 47px 25px;
}

.menu-item:hover {
    border-top: 2px solid var(--blue);
    color: var(--blue);
}

/* SEARCH */
.search h1 {
    font-size: 22px;    
}

.formula {
    display: flex;
    margin-top: 20px;
}

.fa-map-marker-alt {
    width: 45px;
    height: 45px;
    color: var(--black);
    background-color: var(--grey);
    border: 3px solid var(--grey);
    padding: 13px;
    border-radius: 12px 0px 0px 12px;
    text-align: center;
    font-size: 16px;
    line-height: .9;
}

.to {
    border: 2px solid var(--grey);
    font-size: 18px;
    font-weight:bold;
    width: 220px;
    text-indent: 10px;
}

::-webkit-input-placeholder { color:var(--black); opacity: 1; }
::-moz-placeholder { color: var(--black); opacity: 1; }
input:-moz-placeholder { color: var(--black); opacity: 1; } 


.research {
    border-radius: 0 13px 13px 0;
    background: var(--blue);
    color: var(--white);
    border-style: none;
    font-weight: 600;
    width: 130px;
    font-size: 18px;
}

.search-button {
    display:none;
}

/* FILTER */
.filter {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    margin: 30px 0px; 
    gap: 25px;
}

.filter h2 {
    font-weight: 800;
    font-size: 18px;
}

.filter ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 17px;
}

.filter li {
    display: flex;
    align-items: center;
    border: 2px solid var(--light-grey);
    border-radius: 100px;
    border-left: var(--light-blue);  
}

.filter a {
    font-size: 18px;
    font-weight: 800;
    color: var(--black); 
    padding: 0px 15px; 
}

.filter li:hover {
    box-shadow: 0 0 14px var(--light-grey);
    transition: all .3s ease-out;
}

.blue-icon {
    width: 49px;
    height: 47px;
    border-radius: 50%;
    color: var(--blue);
    background-color: var(--light-blue);
    text-align: center;
    line-height: 2.69 !important;
    font-size: large;
}

/* INFO */
.info {
    display: flex;
    align-items:center;   
}

.fa-info {
    width: 22px;
    height: 22px;
    color: var(--blue);
    border-radius: 50%;
    border: 1px solid var(--light-grey);
    padding: 5px 8px;
    font-size: 11px;
    line-height: 0.9;
}

.info p {
    margin-left: 15px;
}

/* ACCOMMODATION */
#page-accommodation {
    margin-top:30px;
    display: flex;
    gap: 45px;
}

.accommodation_Marseille {
    background-color: var(--grey);
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    border-radius: 20px;
    width: 67%;
    padding: 40px;
}

.card_accommodation_Marseille {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 0px 50px 0px;
}

.card_hotel {
    min-width: 200px;
    width: 30%;
    height: 190px;
    background-color:  var(--white);
    border: 4px solid var(--white);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #dfdfdf;
    line-height: 1.5;
}

.obj_cov {
    object-fit: cover;
}

.card_hotel img {
    width: 100%;
    height: 105px;
    border-radius: 15px 15px 0 0;
}

.card_body_hotel {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.activityCardTitle, .accommodation_title, .popular_hotel_title {
    color: var(--black);
    font-size: 16px;
    font-weight: 800;
}

.card_Effect:hover {
    transform: scale(1.03); 
 }

.card_body_hotel p, .card_populars_hotels p {
    color: var(--black);  
    font-size: 14px;
}

.link_show_more {
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    font-weight: bold;
}

.full {
    color: var(--blue);
    font-size: 12px;
}

.empty {
    color: var(--light-grey);
    font-size: 12px;
}

.satisfaction_rate {
    display: flex;
    padding-top: 5px;
 }

/* MOST POPULAR */
.page_populars {
    background-color: var(--grey);
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    width: 33%;
    min-width: 350px;
    padding: 40px 40px 0px 40px;
}

.page_populars h2 {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
}

.card_populars {
    display:flex;
    flex-direction:column;
    padding-top: 30px;
    row-gap:12px;
}

.card_populars_hotels {
    min-width: 280px;
    height: 140px;
    background-color:  var(--white);
    border: 5px solid var(--white);
    border-radius: 20px;
    margin-bottom:25px; 
    box-shadow: 1px 1px 10px #dfdfdf;   
}
.object_position {
    object-position: 30%;
}

.card_populars_hotels a {
    display: flex;
    height: 100%;
}

.card_populars_hotels img {
    width: 40%;
    border-radius: 15px 0 0 15px;
    flex-shrink:0;
}

.card_body_populars_hotels {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 25px;
    gap: 6px;
}

.popular_satisfaction_rate {
    display: flex;
    padding-top: 35px;
 }

/* ACTIVITY */
#page-activities {
    padding: 5em 0 ;
 }

.card_activities {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    margin-top:30px;
}

.activityCardTitle {
    padding: 15px 0 15px 15px;
}

.card_activities img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 1px 1px 10px #dfdfdf;
}

.card_one { 
    width: 23%;
    background-color:  var(--white);
    box-shadow: 1px 1px 10px #dfdfdf;
    border-radius: 25px; 
}

.card_group {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.card_group_1,.card_group_2,.card_group_3,.card_group_4 {
    background-color:  var(--white);
    box-shadow: 1px 1px 10px #dfdfdf;
    border-radius: 25px 25px 25px 25px; 
}

.card_1 img, .card_2 img {
    height: 397px;
    object-fit: none;
    object-position: 50% 17%;
}

.card_group_1 img {  
    height: 180px;
    object-fit: cover;
    object-position: 51% 41.5%;
}

.card_group_2 img {
    height: 110px;
    object-fit: cover;
    object-position: 51% 23%;
}

.card_group_3 img {
    height: 140px;
    object-fit: cover;
    object-position: 50% 9%;
}

.card_group_4 img {
    height: 150px;
    object-fit: cover;
    object-position: 50% 10%;
}

.footer {
    width: 100%;
    background-color: var(--grey);
}

.footer-wrapper {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0 200px;
}

.footerWrapper {
    width: 30%;
    padding: 30px 30px;
}

.footerTitle {
    color: var(--black);
    font-weight: 800;
    padding: 10px 0;
}

.footerLink {
    display: block;
    margin: 15px 0;
    color: #242222;
    font-size: medium;
    font-weight: 600;
    opacity: 0.6;
}

/* ------------ MEDIA QUERIES --------------- */

@media (max-width: 1440px) {
    #page-accommodation {
        flex-direction: column-reverse;
        overflow-x: hidden;
        gap: 25px;  
    }
    .card_populars {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .page_populars, .accommodation_Marseille {
        width: 100%;
    }
    .popular_satisfaction_rate {
        padding-top: 0;
    }
    .card_body_populars_hotels {
        padding: 10px;
    }
}

@media screen and (max-width: 992px) {
    .card_activities {
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 25px;
    }
    .card_populars_hotels {
        width: 100%;
    }
    .card_accommodation_Marseille {
        gap: 20px;
    }
    .card_hotel {
        min-width: 310px;
    }
}

@media screen and (max-width: 768px) {
    .header #logo img {
        margin-bottom: 20px;
    }
    header {
        display:flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }
    .menu-item {
        padding: 20px 30px;
    }
    .menu-item:hover {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }
    main {
        margin: 0;
        overflow-x: hidden;
    }
    .search {
        margin-top: 35px;
    }
    .formula {
        justify-content: flex-start;
    }
    .activityCardTitle, .accommodation_title, .popular_hotel_title {
        font-size: 14px;
    }
    .card_one,.card_group {
        width: 100%;
    }
    .card_group_1, .card_group_2, .card_group_3, .card_group_4 {
        margin: 25px 0;
    }
    .footer-wrapper  {
        padding: 30px;
    }
    .footerWrapper {
        width: 100%;
    }
}

@media screen and (max-width: 601px) {
    #page-activities {
        padding: 3em 0 2em 0;
    }
    .research {
        display: none;
    }
    .search-button {
        display: block;
        width: 45px;
        height: 45px;
        background-color: var(--blue);
        color: var(--white);
        border: 2px solid var(--blue);
        border-radius: 0 1rem 1rem 0;
    }
    .fa-search {
        line-height: 2.5;
    }
    .page_populars {
        min-width: 330px;
    }
}

@media screen and (max-width: 667px) {
    .formula {
        justify-content: center;
    }
    
    .footer-wrapper  {
        flex-direction: column;
        padding: 30px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .card_Effect:hover {
        transform: scale(1.02); 
     }
    .card_hotel {
        min-width: 290px;
    }
    .card_1 img, .card_2 img {
        object-fit: cover;
    }
    .card_1 img, 
    .card_2 img, 
    .card_group_1 img, 
    .card_group_2 img, 
    .card_group_3 img, 
    .card_group_4 img {
        height: 365px;
    }
    .activityCardTitle, 
    .accommodation_title, 
    .popular_hotel_title {
        font-size: 20px;
    }
    .activityCardTitle {
        padding: 17px 0 17px 17px;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .footer-wrapper {
        flex-direction: row;
        padding: 30px;
    }
    .card_hotel {
        min-width: 324px;
        gap: 20px;
    }
}

@media screen and (min-width: 550px) and (max-width: 600px) {
    .accommodation_marseille_title {
        font-size: 18px;
    }
}

@media screen and (max-width: 599px) {
    .card_hotel {
        min-width: -webkit-fill-available;
        flex-shrink: 1;
    }
    .card_1 img, .card_2 img {
        height: 150px;
        object-position: 50% 72%;
    }
    .card_group_1 img {
        height: 150px;
        object-position: 51% 44.5%;
    }
    .card_group_2 img {
        height: 150px;
    }
}

@media screen and (max-width: 359px) {
    .menu-item {
        padding: 20px 20px;
    }
    .search h1 {
        font-size: 19px;
    }
    .to {
        font-size: 16px;
        font-weight: 800;
        width: 185px;
    }
    .page_populars {
        min-width: 265px;
    }
    .page_populars h2 {
        font-size: 17px;
    }
    .accommodation_marseille_title,
    .activity_marseille_title,
    .link_show_more,
    .footerTitle  {
        font-size: 17px;
    }
    .card_populars_hotels {
        min-width: 220px;
    }
}
