@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
    --light-grey: #D9D9D9;
    --black: #000;
    --white: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.layout {
    max-width: 1440px;
    margin: auto;
}

.main {
    padding: 0 50px;
}

.header #logo {
    padding: 25px 25px;
}

.header #logo img {
    width: 130px;
    margin-left: 16px;
}

.header .menu-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.header .menu-nav ul .navLink {
    padding: 30px 25px;
    border-top: 4px solid transparent;
    margin: 0 20px 0 20px;
}

.header .menu-nav ul .navLink:hover {
    border-color: var(--blue);
}

.header .menu-nav ul .navLink a {
    color: #787777;
    font-weight: 600;
    text-decoration: none;
}

.header .menu-nav ul .navLink a:hover {
    color: var(--blue);
}

h1.mainTitle {
    font-size: 1.5em;
    margin: 0 0 8px 0;
    font-weight: 800;
}

.searchFiltersFilter:hover {
    box-shadow: 0 0 14px var(--light-grey);
    transition: all .3s ease-out;
}

.subtitle {
    display: block;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #787777;
    font-weight: 700;
    opacity: 0.8;
}

.search-box {
    background-color: var(--grey);
    padding: 0.95em 1.2em;
    border-radius: 16px 0 0 16px;
    /* text-align: center; */
}

.searchInput {
    width: 250px;
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 1em;
    box-shadow: 0 0 3px var(--grey);
}

.searchInput::placeholder {
    color: var(--black);
    font-weight: 700;
}

.searchSubmit {
    background-color: var(--blue);
    border: none;
    font-weight: 600;
    padding: 0.95em 1em;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    margin: -3px;
}

.fas.fa-search {
    color: var(--white);
    display: none;
}

.searchIcon {
    display: none;
}

.searchText {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 600;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.searchFilters {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 30px 14px 0;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 800;
}

.searchFiltersFilter {
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: 2px solid var(--light-grey);
    border-radius: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: 800;
}

.searchFilterTitle {
    margin: 0 15px;
}

.fas {
    color: var(--blue);
}

.font-large {
    font-size: larger;
}

.fas.fa-info {
    font-size: small;
}

.bg-grey {
    color: var(--light-grey);
}

.initColor {
    color: initial;
}

.initxColor {
    color: initial;
    font-size: x-large;
}

.searchFiltersIcon {
    background-color: var(--light-blue);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.searchResult {
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
}

.searchResultTxt {
    font-size: large;
    color: #787777;
    font-weight: 700;
    opacity: 0.8;
}

.searchResultIcon {
    width: 27px;
    height: 27px;
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.hosting {
    display: flex;
    width: 1440px;
    column-gap: 30px;
}

.mainHosting, .popularHosting {
    width: 65%;
    padding: 25px;
    row-gap: 20px;
    column-gap: 20px;
    background-color: var(--grey);
}

.hostingTitle {
    display: flex;
    padding-bottom: 20px;
}

.hosting-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.hostingCard {
    width: 275px;
    height: 100%;
    background-color: var(--white);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 15px var(--grey);
    cursor: pointer;
    transition-duration: 0.1s;
}

.hosting_image {
    width: 100%;
    height: 121px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hostingCardTitle, .hostingCost, .hostingSatisfactionRate {
    margin: 0 0 5px 10px;
}

.hostingSatisfactionRate {
    font-size: small;
}

.hostingCost,.hostingPopularCost {
    color: #787777;
    font-weight: 600;
    opacity: 0.95;
}

.card_Effect:hover {
   transform: scale(1.01); 
}

.popularHosting {
    width: 28%;
    padding: 32px;
}

.popularhostingTitle {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
}

.border_r {
    border-radius: 20px;
}

.hostingViewMoreInfo{
    display: flex;
    padding: 30px 0 0 20px;
    font-weight: bold;
}

.hostingPopularCard {
    width: 100%;
}

.hostingPopularCardTitle, .hostingPopularCost {
    margin: 4px 12px 0 15px;
}

.hostingPopularWrapperContent {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
}

.hostingPopularWrapper {
    position: relative;
    min-height: 100%;
    min-width: 33%;
}

.hostingPopularWrapperImg {
    border-radius: 16px 0 0 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hostingPopularWrapperContentContent {
    display: flex;
    flex-direction: column;
    height: 120px;
}

.hostingPopularWrapperContentSpace {
    flex: 1;
}

#page-activities {
    padding-top: 50px;
    width: calc(100% + 30px);
    height: 65vh;
}

.card_activities { 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    margin-top: 30px;
}

.card_activities .activityCardTitle {
    padding: 16px;
    font-size: inherit;
    font-weight: 800;
}

.card_activities img {
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 1px 1px 10px #dfdfdf;
    background-size: auto;
    object-fit: none;
}

.card_one { 
    width: 23%;
    background-color:  #ffff;
    box-shadow: 1px 1px 10px #dfdfdf;
    border-radius: 25px 25px 25px 25px; 
}

.card_group {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.card_group_1,.card_group_2,.card_group_3,.card_group_4 {
    background-color:  #ffff;
    box-shadow: 1px 1px 10px #dfdfdf;
    border-radius: 25px 25px 25px 25px; 
}

.card_1 img, .card_2 img {
    height: 397px;
    object-position: 50% 17%;
}

.card_group_1 img{  
    height: 180px;
    object-position: 51% 40%;
    object-fit: cover;
}

.card_group_2 img {
    height: 110px;
    object-position: 51% 16%;
    object-fit: cover;
}

.card_group_3 img{
    height: 130px;
    object-fit: cover;
    object-position: 50% 12%;
}

.card_group_4 img{
    height: 160px;
    object-fit: cover;
    object-position: 50% 0%;
}

.footer {
    width: 100%;
    background-color: var(--grey);
}

.footer-wrapper {
    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 32px;
}

.footerWrapper {
    width: 30%;
    padding: 30px 30px;
}

.footerTitle {
    padding: 10px 0;
}

.footerLink {
    display: block;
    margin: 15px 0;
    color: #787777;
    font-size: large;
    font-weight: 700;
    opacity: 0.8;
}
 a {
    text-decoration: none;
    color: inherit;
}


/* **************** Media Queries ******************** */

@media screen and (max-width: 768px) {

    header {
        display:flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

    .menu-nav .menu {
        display: flex;
        margin: 25px 0px 15px 0px;
        width:100%;
        text-align:center;
    }

    .navLink {
        padding: 10px 51px;
        border-bottom: 4px solid #F2F2F2;
        width: 50%;
    }

    .header .menu-nav ul .navLink:hover {
        border-top: none;
        border-bottom: 4px solid var(--blue); 
    }

    .main {
        margin: 0;
    }

    .searchText {
        display: none;
    }

    .fas.fa-search {
        display: block;
    }

    #page-accommodation {
        flex-direction: column-reverse;
        gap: 25px;   
    }
}





.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;     
  }

  .footer .footerTitle {
      margin-bottom: 5px;
  }

