/* COULEURS PRÉDÉFINIES
bleu : #0065FC
bleu clair : #DEEBFF
gris : #F2F2F2 
gris clair : #D9D9D9 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.layout {
    max-width: 1440px;
    margin: auto;
}

.main {
    padding: 0 50px;
}

.header #logo {
    padding: 25px 25px;
}

.header #logo img {
    width: 150px;
}

.header .menu-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.header .menu-nav ul .navLink {
    padding: 50px 25px;
    border-top: 4px solid transparent;
    margin: 0 20px 0 20px;
}

.header .menu-nav ul .navLink.active {
    border-color: #0065FC;
}

.header .menu-nav ul .navLink:nth-child(2):hover {
    border-color: #0065FC;
}

.header .menu-nav ul .navLink a {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.searchFiltersFilter:hover {
    border: none;
    box-shadow: 3px 3px 10px #0065FC, -1em 0 .4em #979494 ;
    transition: all .3s ease-out;
}

.subtitle {
    display: block;
    margin-bottom: 20px;
}

.search-box {
    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 16px 0 0 16px;
    text-align: center;
}

.searchInput {
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 20px;
    width: 200px;
    font-weight: 600;
}

.searchSubmit {
    background-color: #0065FC;
    border: none;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    margin: -3px;
}
.fas.fa-search {
    color: #FFF;
    display: none;
}

.searchIcon {
    display: none;
}

.searchText {
    background-color: #0065FC;
    color: #FFF;
    font-weight: 600;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.searchFilters {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}

.searchFiltersTitle {
    margin: 0 30px 25px 0;
    display: flex;
    align-items: center;
}

.searchFiltersFilter {
    display: flex;
    align-items: center;
    margin-right: 30px;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: 800;
}

.searchFilterTitle {
    margin: 0 15px;
}

.fas {
    color: #0065FC;
}
.fas.fa-info {
    font-size: x-small;
}

.grey-icon {
    color: #D9D9D9;
}

.initColor {
    color: initial;
}

.initxColor {
    color: initial;
    font-size: x-large;
}

.searchFiltersIcon {
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.searchResult {
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
}

.searchResultIcon {
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.hosting {
    display: flex;
    /* flex-wrap: wrap; */
    width: 1440px;
    /* height: 100vh; */
    column-gap: 30px;
}

.mainHosting {
    width: 65%;
    padding: 25px;
    row-gap: 20px;
    column-gap: 20px;
    background-color: #F2F2F2;
}

.hostingTitle {
    display: flex;
    padding-bottom: 20px;
}

.hosting-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 5px;
    justify-content: space-around;
    
}

.hostingCard {
    width: 275px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 15px grey;
    transition-duration: 0.1s;
}

.hosting_image {
    width: 100%;
    height: 121px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hostingCardTitle, .hostingCost, .hostingSatisRate {
    margin: 0 0 5px 10px;
}

.hostingCard:hover {
   transform: scale(1.01); 
}

.popularHosting {
    display: flex;
    width: 28%;
    row-gap: 30px;
    justify-content: space-around;
    
}

.popularhostingTitle {
    display: flex; 
}

.border_r {
    border-radius: 20px;
    padding: 20px;
}

.hostingMoreInfo {
    display: flex;
    padding: 30px 0 0 20px;
    font-weight: bold;
}

.activity {
    margin: 50px 0;
}

.activityTitle {
    margin-bottom: 20px;
}
 
.activity-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; 
}

.activityCard img{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}



.footer {
    background-color: #F2F2F2;
    
}

.footer-wrapper {
    /* display: flex; */
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
}

.footerWrapper {
    width: 30%;
    padding: 30px 30px;
}

.footerLink {
    display: block;
    margin: 15px 0;
}
 a {
    text-decoration: none;
    color: inherit;
}


/* **************** Media Queries ******************** */

@media screen and (max-width: 420px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.2em;
    }
    .searchInput {
        font-size: 14px;
        width: 110px;
        padding: 15px 15px 12px 15px;
    }
    .search-box {
        padding: 15px 15px 13px 15px;
    }
}

@media screen and (max-width: 767px) and (min-width : 320px) {

    .header {
        flex-direction: column;
    }
    .header .menu-nav ul .navLink.active {
        border-top: none;
        border-bottom : 4px solid #0065FC;
    }

    .header .menu-nav ul .navLink:hover {
        border-top: none;
        border-bottom : 4px solid #0065FC;
    }

    .searchText {
        display: none;
    }
    .fas.fa-search {
        display: block;
    }
    
    .header .menu-nav ul {
        flex-wrap: wrap;
    }
    
    .hosting-list {
        flex-direction: column;
    } 
}

@media screen and (max-width: 992px) and (min-width: 768px) 
{
   .fas.fa-search {
       display: none;
   }
}

@media screen and (max-width: 1440px) {
    .hosting {
        row-gap: 30px;
    }
    
}
